<nav class="wrapper clearfix">
	<a href="/" class='nav <%= "active" if @active_pg_head_link == 'home' %>'>
		Home
	</a>
	<a href="/public/posts" class='nav <%= "active" if @active_pg_head_link == 'posts' %>'>
		Posts
	</a>
	<a href="/public/about" class='nav <%= "active" if @active_pg_head_link == 'about' %>'>
		About
	</a>
	<a href="/public/contact" class='nav <%= "active" if @active_pg_head_link == 'contact' %>'>
		Contact
	</a>
</nav>