<% content_for :style do %>
	<style>
	</style>
<% end %>

<% content_for :scripts do %>
	<%= javascript_include_tag 'sphere' %>

	<script>
		var sphere = Sphere.init({
			canvas : '#Canvas',
			radius : 301,
			density : 1,
			color: ['#1f5d8e','#333','#fff']
		});

	</script>
<% end %>

<h1 class="post-title">Create Sphere with CSS and Javascript</h1>
<div id="Canvas"></div>