<% content_for :style do %>
  <style>
  </style>
<% end %> 
<h1 class="post-title">Javascript Test</h1>
<pre>
<code lang="javascript" class='prettyprint'> 
</code>
</pre>

<div class="post-end">(end)</div>
<% content_for :scripts do %>
  <%= javascript_include_tag 'prettify' %>
  <script type='text/javascript'>
  prettyPrint();






 

  </script>
<% end %>
