<% content_for :style do %>
	<style>
.facebook.calendar { margin: 0 auto; padding: 40px; }
.facebook .events { padding: 0 10px 0 10px; border-left: 1px solid #d6d6d6; margin: 15px 0 0 76px; background: #ececec; }
.facebook .events_content { position: relative; }
.facebook .event { background: #fff; border-left: 4px solid #4b6ea9; position: absolute; }
.facebook .event__frame { border-top: 1px solid; border-bottom: 1px solid; border-right: 1px solid; border-color: #d6d6d6; height: 100%; padding: 7px 8px; }
.facebook .event__name { font-size: 13px; line-height: 13px; color: #4b6ea9; }
.facebook .event__location { font-size: 9px; color: #797979; line-height: 9px; padding-top: 2px; }
.facebook .timeline { list-style: none; padding: 0; margin: 0; width: 76px; float: left; }
.facebook .time { text-align: right; padding: 9px 9px 0 0; height: 30px; }
.facebook .time span { vertical-align: top; display: inline-block; *display: inline; zoom: 1; }
.facebook .f_light { font-size: 9px; line-height: 9px; color: #b3b3b3; padding: 3px 0 0 5px; }
.facebook .f_heavy { font-size: 12px; line-height: 12px; color: #686868; }
.fb_explanation {margin-left:65px; font-size:18px; color:#262626;}
.fb-cross-browser {color:#f05;}
.fb-click-here {position:relative; color:#f05; cursor:pointer;}
.active.fb-read-me {display:block; color:#333; margin:20px 0 20px 65px; background:#fff; border:1px solid #eee; padding:20px; font-size:18px; color:#333;}
.fb-read-me {display:none;}
#FB_input_val {resize:none; width:670px; height:150px; margin:30px 30px 0 65px; padding:10px; font-size:18px;}
#FB_input_submit {padding:10px 15px; margin-top:30px; font-size:20px; color:#fff; background:#3b5998; cursor:pointer;}
	</style>
<% end %>
<% content_for :scripts do %>
  	<%= javascript_include_tag "facebook", "layoutday" %>
  	<script>
  	 <!-- Set from 9 AM to 9 PM and width for the event container -->
    
  	 jQuery(document).ready(function($){
	    facebook.init({
		    start : 9,
		    end : 21,
		    width : 620,
		    widthOffset : 20
	    });    

	    var facebook_config = [ {start: 30, end: 150}, {start: 540, end: 600}, {start: 560, end: 620}, {start: 610, end: 670}
	        , {start: 310, end: 470}, {start: 510, end: 600}, {start: 210, end: 250} ];
	    layOutDay(facebook_config);

	    $('#FB_input_val').val(JSON.stringify(facebook_config));
	    $('#FB_input_submit').click(function(){
	    	var val = $('#FB_input_val').val();
	    	var obj = JSON.parse(val);
	    	layOutDay(obj);
	    });

	    $('.fb-click-here').click(function(){
	    	$('.fb-read-me').toggleClass('active');
	    });
	});
  	</script>
<% end %>
<div class="fb_explanation">A perfect working and tested solution <span class="fb-cross-browser">(cross browser, ie8 supports)</span> done by me for facbook interview. To read the specification <span class="fb-click-here">click here.</span> or see it on my github <a target="_blank" class="link-external" href="https://github.com/chihungyu1116/facebook_calendar_puzzle">facebook puzzle</a>.</div>

<div class="fb-read-me">
Facebook Calendar Puzzle<br/>
Included below are the details for the challenge, along with one attachment. Please complete and send back at your earliest convenience, noting the length of time it took to complete. Note that on average, it takes 8 -10 hrs to successfully complete this puzzle, so please do not rush to turn this in. Your solution will be run through a suite of test cases and evaluated on correctness, elegance, and readability. You can start and stop the puzzle at anytime. There is not an official time limit for turning in the puzzle since we realize and respect the fact that engineers are currently working and have busy lives. But we hope to receive the puzzle back within 7-14 days if possible. If you need more time, just let me know. Please put a lot into it and test your work and show us your best work. Please do not post your solution in a public accessible location on the internet.<br/>
Puzzle<br/><br/>
Given a set of events, render the events on a single day calendar (similar to Outlook, Calendar.app, and Google Calendar). There are several properties of the layout:<br/><br/>
1) No events may visually overlap. 2) If two events collide in time, they must have the same width. 3) An event should utilize the maximum width available, but constraint 2) takes precedence over this constraint.<br/><br/>
Each event is represented by a JS object with a start and end attribute. The value of these attributes is the number of minutes since 9am. So {start:30, end:90) represents an event from 9:30am to 10:30am. The events should be rendered in a container that is 620px wide (600px + 10px padding on the left/right) and 720px (the day will end at 9pm). The styling of the events should match the attached screenshot.<br/><br/>
You may structure your code however you like, but you must implement the following function in the global namespace. The function takes in an array of events and will lay out the events according to the above description.<br/><br/>
function layOutDay(events) { }<br/><br/>
This function will be invoked from the browser’s JavaScript console for testing purposes. If it cannot be invoked, the submission will be rejected. In your submission, please implement the calendar with the following input and style the calendar accordingly.<br/><br/>
[ {start: 30, end: 150}, {start: 540, end: 600}, {start: 560, end: 620}, {start: 610, end: 670} ]<br/><br/>
A screenshot of the expected output is attached.<br/><br/>
FAQ<br/><br/>
1) Are frameworks such as JQuery, MooTools, etc. allowed? Yes, but please include the file with your source code.<br/><br/>
2) Is there a maximum bound on the number of events? You can assume a maximum of 100 events for rendering reasons, but your solution should be generalized.<br/><br/>
3) What browsers need to be supported? Your solution should work on all modern standards-compliant browsers.<br/><br/>
4) Does my solution need to match the image pixel for pixel? No, we will not be testing for pixel matching.<br/><br/>
</div> 

<div class="fb_explanation">Give it a configuration it will schedule the calendar for you.</div>
<textarea id="FB_input_val" class="col"></textarea><div id="FB_input_submit" class="col">Submit</div>
<div id="Calendar" class="calendar facebook">
	<ul id="Timeline" class="timeline"></ul>
	<div id="Events" class="events">
		<div id="Events_content" class="events_content"></div>
	</div>
</div>

<div class="post-end">(end)</div>