<div class="wrapper view-about">
	<% content_for :style do %>
	<style>
		.mod {position:relative; padding:20px; margin:0 40px 0 0; max-width:350px; border:1px solid #ececec; background:seashell; color:#444; box-shadow: 2px 2px 12px rgba(0,0,0,0.55); -moz-box-shadow: 2px 2px 12px rgba(0,0,0,0.55); -webkit-box-shadow: 2px 2px 12px rgba(0,0,0,0.55);}
		.mod-2 {margin:80px 0 40px;}
		.intro {margin-bottom:60px;}
	</style>
	<% end %>
	<%= render partial: 'share/app_blog_title', locals: { title:'About' }  %>


	<div>
		<h1 class="post-title">Profile</h1>
		<p class="intro">Hi, my name is Chihung Yu. I graduated from <i>UCLA</i> in <i>Computer Science</i> major and I love web development related subjects and works. I would love to be involved in projects or learning more on WebGL, Machine learning, Javascript related, or in general anything that is interesting!</p>
	</div>

	<div class="col">
		<div class="mod rnd-s">
			<p>This is the facebook interview question I solved. (100% working solution)</p>
			&nbsp;&nbsp;<a href="https://github.com/chihungyu1116/facebook_calendar_puzzle" class="link-external">Facebook Interview Puzzle</a>
		</div>
		<div class="mod mod-2 rnd-s">
			<p>My github</p>
			&nbsp;&nbsp;<a href="https://github.com/chihungyu1116" class="link-external">github</a>
		</div>
	</div>
	<div class="mod col rnd-s">
		<p>Gulpio is the single web application I wrote using BackboneJs and RequireJs following the mediator pattern. It's very lightweight and able to load files as needed rather than compressing all javascript into one javascript. (not production ready, only spent few days writing it)</p>
		&nbsp;&nbsp;<a href="https://github.com/chihungyu1116/gulpio" class="link-external">Gulpio</a>
		<p>This is my profile page that uses it</p>
		&nbsp;&nbsp;<a href="www.gulpio.com" class="link-external">website</a>
	</div>
</div>