<div class="wrapper view-css-html">
	<%= render partial: 'share/app_blog_title', locals: { title:'CSS HTML Posts' }  %>

	<a class="post-link col" href="/posts/2">Understand CSS Position Absolute & Relative</a>
</div>