<div class="wrapper view-css-html">
	<%= render partial: 'share/app_blog_title', locals: { title:'CSS HTML Posts' }  %>

	<a class="post-link col" href="/posts/2">Understand CSS Position Absolute & Relative</a>
	<a class="post-link col" href="/posts/8">Vertical Align Text In A Container With Unknown Height Like a Ninja</a>
	<a class="post-link col" href="/posts/13">Vertical Align Popup On Overlay With Only CSS Like a Ninja</a>
</div>