<div class="wrapper view-galleries">
	<%= render partial: 'share/app_blog_title', locals: { title:'Galleries Posts' }  %>
	
	<a class="post-link col" href="/posts/3">Random Maze Generator</a>
	<a class="post-link col" href="/posts/4">Relax Watch Made Using Only CSS and HTML</a>
	<a class="post-link col" href="/posts/5">Calednar (Facebook Interview Question)</a>
	<a class="post-link col" href="/posts/6">Create 3D Sphere with Javascript and CSS</a>
	<a class="post-link col" href="/posts/9">Game of Life</a>
	<a class="post-link col" href="/posts/12">Random Maze Generator Via DFS (Depth First Search)</a>
</div>