<div class="wrapper view-galleries">
	<%= render partial: 'share/app_blog_title', locals: { title:'Galleries Posts' }  %>
	<%= render partial: 'posts/post_5' %>
	<%= render partial: "posts/post_3" %>
	<%#= render partial: "posts/post_4" %>
</div>