<div class="wrapper view-js">
	<%= render partial: 'share/app_blog_title', locals: { title:'Javascript Posts' }  %>
	<a class="post-link col" href="/posts/1">Remove Multiple Holes in Array</a>
	<a class="post-link col" href="/posts/7">Javascript Performance Best Practice Tests</a>
	<a class="post-link col" href="/posts/11">Javascript Factory Pattern for Creating a Node</a>
	<a class="post-link col" href="/posts/15">Javascript Data Structure: Linked List</a>
</div>