<div class="wrapper view-posts">
	<%= render partial: 'share/app_blog_title', locals: { title:'Posts' }  %>

	<a class="post-link col" href="/posts/1">Remove Multiple Holes in Array</a>
	<a class="post-link col" href="/posts/2">Understand CSS Position Absolute & Relative</a>
	<a class="post-link col" href="/posts/3">Random Maze Generator</a>
	<a class="post-link col" href="/posts/4">Relax Watch Made Using Only CSS and HTML</a>
	<a class="post-link col" href="/posts/5">Calednar (Facebook Interview Question)</a>
	<a class="post-link col" href="/posts/6">Create 3D Sphere with Javascript and CSS</a>
	<a class="post-link col" href="/posts/7">Javascript Performance Best Practice Tests</a>
	<a class="post-link col" href="/posts/8">Vertical Align Like a Ninja</a>
</div>